<h2 style='color:blue' align="center">Decision Tree Classification</h2>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
df = pd.read_csv("salaries.csv")
df.head(3)

  company               job     degree  salary_more_then_100k
0  google   sales executive  bachelors                      0
1  google   sales executive    masters                      0
2  google  business manager  bachelors                      1

In [10]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [11]:
df['company_n'] = le_company.fit_transform(df['company'])
df['job_n'] = le_job.fit_transform(df['job'])
df['degree_n'] = le_degree.fit_transform(df['degree'])

In [12]:
df.head(3)

,company,job,degree,salary_more_then_100k,company_n,job_n,degree_n
0,google,sales executive,bachelors,0,2,2,0
1,google,sales executive,masters,0,2,2,1
2,google,business manager,bachelors,1,2,0,0

In [13]:
X = df.drop(['company', 'job', 'degree', 'salary_more_then_100k'], axis='columns').values

In [14]:
y = df.salary_more_then_100k.values

In [15]:
X.shape

(16, 3)

In [16]:
y.shape

(16,)

In [17]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X, y)

DecisionTreeClassifier()

In [18]:
model.score(X, y)

1.0